# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables

# SQLite databases
*.db
*.sqlite
*.sqlite3

# IDEs
.idea/

# OS files
.DS_Store
Thumbs.db
config.bat
node_modules
